<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android">

    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sigma"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".splash"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".PostPage" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".PhotoPage"
            android:label="Photo">

        </activity>
        <activity android:name=".Authentication"
            android:label="Authentication">

        </activity>

        <activity android:name=".NewAccount"
            android:label="New account">

        </activity>
        <activity android:name=".Profile"
            android:label="Profile">

        </activity>
    </application>

</manifest>